a61: Plotly and Cufflinks

In [25]:
import pandas as pd
import numpy as np
%matplotlib inline

In [26]:

from plotly import __version__

In [27]:
from plotly import graph_objects

In [28]:
print(__version__)

4.14.3

In [29]:
import plotly

print("Plotly version:", plotly.__version__)

Plotly version: 4.14.3

In [30]:
from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot

In [31]:
init_notebook_mode(connected=True)

In [32]:
df = pd.DataFrame(np.random.randn(100,4),columns='A B C D'.split())

In [33]:
df.head()

          A         B         C         D
0 -1.205523 -2.638029  1.821321  0.045315
1 -1.904153 -0.794272  1.248604 -2.028664
2  0.382065 -0.150593  1.049860  0.049441
3 -1.873804  1.502389 -0.317741 -0.190890
4  0.351454  0.936870  2.531569 -1.094656

In [34]:
df2 = pd.DataFrame({'Category':'A B C'.split(), 'Values':[32,43,50]})

In [35]:
df2

  Category  Values
0        A      32
1        B      43
2        C      50

In [36]:
df.iplot()

AttributeError: 'DataFrame' object has no attribute 'iplot'